.card {
    /* border: 1px solid red; */
    display: grid;
    /* flex-direction: column; */
}



.img {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.content {
    margin-top: 18px;
    font-size: 16px;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.light {
    color: #575757;
}

.fl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fl p {
    margin-left: 4px;
}

.like {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .8em;
    margin-right: .8em;
}