

.menuContainer ul {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    background: rgb(234, 234, 234);
    right: -20px;
    border-radius: 10px;
    top:60px;
    cursor: pointer;
    padding: 40px 0px;
    box-shadow: 0 0 50px rgb(187, 183, 183);
    justify-content: start;
    align-items: start;
}

.menuContainer ul li {
    padding: 20px 60px 20px 30px;
    margin: 0;
    min-width: max-content;
    gap: 0;
    /* border: 1px solid red; */
    font-weight: bold;
    color: rgb(25, 25, 25);
    text-overflow: clip;
    width: 100%;
    border-top: 1px solid rgb(222, 220, 220);
}
