@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* border: 1px solid red; */
    height: auto;
}

main {
    height: 100%;
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 28px;
    align-content: start;
}